body{
    background-color: aqua;
}
#header {
    background-color: salmon;
    height: 150px;
}
#nav {
    background-color: olivedrab;
    height: 100px;
}
#main {
    background-color:skyblue;
    height: 600px;
}
#footer {
    background-color: crimson;
    height: 150px;
}
#table {
    width: 500px;
    position: absolute;
    top: 40%;
    left: 40%;
}
table{
    background-color: white;
    border-collapse: collapse;
}
td{
   border: black  2px solid;
}